 html {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
 }

 body {
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     background-color: grey;
     width: 100%;
     height: 100%;
 }

 #animationCanvas {
     border: 4px solid black;
 }

 .sliderContainer {
     width: 100%;
     height: 100%;;
     position: absolute;
     top: 0%;
     left: 0%;
     margin: 0;
     
 }

.output
{
    margin:0;
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
}
.output p {
    margin:0;
    color:rgb(54, 233, 60);
    font-weight: bolder;
    font-size: 25px;
}
 .slider {
     -webkit-appearance: none;
     width: 80%;
     height: 90%;
     background: #eaf5e9;
     outline: none;
     opacity: 0;
     -webkit-transition: .2s;
     transition: opacity .2s;
 }

 .slider:hover {
     opacity: 1;
 }

 .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 22px;
     height: 22px;
     border-radius:50%;
     background: rgb(6, 65, 8);
     cursor: pointer;
 }